@media only screen and (max-width: 768px) {
  body {
    flex-direction: column;
    width: 100%;
    height: fit-content;
  }

  .mainText {
    margin-bottom: 2rem;
    margin-top: 3rem;
  }

  .container {
    display: grid;
    width: fit-content;
    grid-template-rows: 2;
    grid-template-columns: none;
    gap: 1rem;
    min-width: 0;
  }

  .left {
    .tipGrid {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
  }

  .inactive {
    margin-top: 2rem;
  }

  .attribution {
    display: none;
  }
}
